html,body{
  background:black;
  color:white;
  width:800px;
  padding:0px;
  margin:0px auto 0px auto;
}

h1{
	position:fixed;
	top:0px;
	left:0px;
	font-size:12p;
	padding:0px;
	margin:0px;
}

canvas{
  background:white;
  margin:40px auto 0px auto;
  height:400px;
  width:800px;
}

nav{
	position:fixed;
	top:0px;
	right:0px;
}
